<div class="group-info-container">

    <div class="group-info-header">
        <p class="group-name"># Channelname</p> <i class="material-icons cursor close-button" (click)="dialogRef.close()">close</i>
    </div>

    <div class="group-info-name-container" [ngClass]="{'is-editing': isEditing}" >
        <div class="group-info-name-heading">
            <p class="bold">Channel - Name</p>
            <p class="cursor purple" (click)="changeChannelName()">Bearbeiten</p>
            <!-- <p class="cursor purple" (click)="saveChannelName()">Speichern</p> -->
        </div>
        <div class="group-info-name">
            <ng-container *ngIf="isEditing; else displayChannelName">
                <input [(ngModel)]="channelName" (blur)="changeChannelName()" (keydown.enter)="changeChannelName()" />
            </ng-container>
            <ng-template #displayChannelName>
                <p># Channelname</p>
            </ng-template>
        </div>
    </div>
    
    

    <div class="group-info-description-container">
        <div class="group-info-description-header">
            <p class="bold">Beschreibung</p> 
            <p class="cursor purple" (click)="changeChannelDescription()">Bearbeiten</p>
            <!-- <p class="cursor purple" (click)="changeChannelDescription()">Speichern</p> -->
        </div>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates iusto incidunt facere perferendis, aut fuga?</p>
        <hr>
        <div class="group-creator-container">
            <p class="bold">Erstellt von</p>
            <p class="group-creator">Noah Braun</p>
        </div>
    </div>

    <div class="leave-group">
        <button class="cursor" (click)="dialogRef.close()">Channel verlassen</button>
    </div>

</div>