<div class="group-info-container">

    <div class="group-info-header">
        <p class="group-name"># Entwicklerteam</p> <i class="material-icons cursor close-button">close</i>
    </div>

    <div class="group-info-name-container">
        <div class="group-info-name-heading">
            <p class="bold">Channel - Name</p> <p class="cursor purple">Bearbeiten</p>
        </div>
        <div class="group-info-name">
            <p># Entwicklerteam</p>
        </div>
    </div>

    <div class="group-info-description-container">
        <div class="group-info-description-header">
            <p class="bold">Beschreibung</p> <p class="cursor purple">Bearbeiten</p>
        </div>
        <div class="group-info-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, voluptate! Sed deserunt impedit explicabo laborum.
            Lorem ipsum dolor sit amet.
        </div>
        <hr>
        <div class="group-creator-container">
            <p class="bold">Erstellt von</p>
            <p class="group-creator">Noah Braun</p>
        </div>
    </div>

    <div class="leave-group">
        <button class="cursor">Channel verlassen</button>
    </div>

</div>