$main-purple: #eceefe;
$purple: #535af1;

::ng-deep .unique-dialog-class .cdk-overlay-pane {
    max-width: unset !important;
    position: static !important;
    margin: unset !important;
}

button {
    background-color: $purple;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

.opacity-0-3 {
    opacity: .3 !important;
    cursor: default !important;
}

.opacity-1 {
    opacity: 1;
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;

    .group-info-name-container {
        border: 2px solid $main-purple;
        border-radius: 15px;
        padding: 15px;

        &.is-editing {
            border: 2px solid transparent;
            transition: all .3s ease-in;
        }
    }

    .group-info-description-container {
        border: 2px solid $main-purple;
        border-radius: 15px;
        padding: 15px;

        &.is-editing {
            border: 2px solid transparent;
            transition: all .3s ease-in;
        }

        .group-creator-container {

            .group-creator {
                color: $purple;
                font-size: 18px;       
            }
        }

        hr {
            margin: 25px 5px;
            background-color: rgb(243, 241, 241) !important;
        }
    }

    .leave-group {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: rgb(245, 14, 14);
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 15px;
            border: transparent;

            &:hover {
                opacity: .8;
            }
        }

        .disabled-btn {
            opacity: 0.8;
        
            &:hover{
                cursor: not-allowed !important;
            }
        }
    }

    input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $main-purple;
        border-radius: 15px;
        padding: 15px;
        width: calc(100% - 30px);
    }

   .group-member-wrapper {
    display: none;
    padding: 15px;
    border: 2px solid $main-purple;
    border-radius: 15px;

    .group-members {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0 0 25px 0;

        &:hover {
        background-color: #eceefe;
        border-radius: 30px;
        }


        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        p {
            margin: 0;
        }

    }

   }

}

@media (max-width:1200px) {

    .group-member-wrapper {
        display: block !important;
    }

    .button-small-device {
        display: block;
    }

}