<div class="popup-container">

    <div class="header-container">
        <h2 class="group-name"># {{currentChannel.info.name}}</h2> <i class="material-icons cursor close-button"
            (click)="dialogRef.close()">close</i>
    </div>

    <div class="group-info-name-container" [ngClass]="{'is-editing': isEditing}">
        <div class="header-container">
            <h3 class="bold">Channel - Name</h3>
            <p class="cursor purple" *ngIf="!isEditing" (click)="changeChannelName()">Bearbeiten</p>
            <p class="cursor purple" *ngIf="isEditing" (click)="saveChannelName()">Speichern</p>
        </div>
        <div class="group-info-name">
            <ng-container *ngIf="isEditing; else displayChannelName">
                <input [(ngModel)]="channelName"/>
            </ng-container>
            <ng-template #displayChannelName>
                <p># {{currentChannel.info.name}}</p>
            </ng-template>
        </div>
    </div>



    <div class="group-info-description-container">
        <div class="header-container">
            <h3 class="bold">Beschreibung</h3>
            <p class="cursor purple" *ngIf="!hideEditDescription" (click)="changeChannelDescription()">Bearbeiten</p>
            <p class="cursor purple" *ngIf="hideEditDescription" (click)="saveChannelDescription()">Speichern</p>
        </div>
        <div class="group-info-name">
            <ng-container *ngIf="hideEditDescription; else displayDescription">
                <input [(ngModel)]="channelDescription"/>
            </ng-container>
            <ng-template #displayDescription>
                <p>{{currentChannel.info.description}}</p>
            </ng-template>
        </div>
        <hr>
        <div class="group-creator-container">
            <h3 class="bold">Erstellt von</h3>
            <p class="group-creator">{{currentChannel.info.created}}</p>
        </div>
    </div>

    <div class="leave-group">
        <button class="cursor" (click)="dialogRef.close()">Channel verlassen</button>
    </div>

</div>