.thread-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
}


@media (max-width: 1000px) {
    .thread-container {
        background-color: red;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        position: absolute;
    }
}