<div class="thread-container">
    <!-- Thread Header -->
    <mat-toolbar class="br-30">
      <div class="thread-header">
        <div class="thread-header-info">
          <h3>Thread</h3>
          <p># Entwicklerteam</p>
        </div>
        <i class="material-icons cursor close-button">close</i>
      </div>
    </mat-toolbar>
  
    <div class="message-thread-container">
      <!-- Chat Divider Top -->
      <div class="chat-divider-top"></div>
  
      <div class="clicked-message">
        <img src="./assets/characters/character_2.png" alt="">
        <div class="message-info-thread">
          <!-- Message Content Container -->
          <div class="message-content-container">
            <!-- Info Row for Own Message -->
            <div class="info-row-thread">
              <p>Noah Braun</p>
              <span class="message-time">14:25 Uhr</span>
            </div>
            <!-- Clicked Message Content -->
            <div class="clicked-message-content">
              <p class="message-text">
                Placeholder für die Nachricht auf die draufgedrückt wurde.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Chat Divider Bottom Container -->
      <div class="chat-divider-bottom-container">
        <p>1 Antwort</p>
        <div class="chat-divider-bottom"></div>
      </div>
  
      <!-- Text Response Container -->
      <div class="clicked-message">
        <img src="./assets/characters/character_2.png" alt="">
        <div class="message-info-thread">
          <!-- Message Response Container -->
          <div class="message-content-container">
            <div class="info-row-thread">
              <p>Noah Braun</p>
              <span class="message-time">14:25 Uhr</span>
            </div>
            <div class="clicked-message-content">
              <p class="message-text">
                Placeholder für Antwort von anderen.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Text Own Response Container -->
      <div class="clicked-message response own-message">
        <img src="./assets/characters/character_4.png" alt="">
        <div class="message-info-thread">
          <!-- Message Response Container -->
          <div class="message-content-container">
            <div class="info-row-thread end">
              <span class="own-message-time">14:25 Uhr</span>
              <p>Hasan Coskun</p>
            </div>
            <div class="clicked-message-content">
              <p class="message-text-own">
                Placeholder für eigene Antwort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

    <div class="thread-header">
        <div class="thread-header-info">
            <h3>Thread</h3>
            <p># Entwicklerteam</p>
        </div>
        <div class="close-thread">
            <i class="material-icons cursor close-button">close</i>
        </div>
    </div>

    <hr>

    <div class="message-thread-container">
        
        <div class="clicked-message">
            <img src="./assets/characters/character_2.png" alt="">
            <div class="message-info-thread">

                <div class="info-row-thread own-message">
                    <p>Noah Braun</p> <span class="message-time">14:25 Uhr</span>
                </div>

                <div class="clicked-message-content">
                <p class="message-text-own message-text">Eigene Nachricht.</p>
                </div>

            </div>
        </div>

        </div>

   
    
    
