$main-purple: #eceefe;
$purple: #98a3f4;

.end {
    justify-content: flex-end;
}

.chat-divider-top {
    text-align: center;
    border-top: 1px solid $main-purple;
}

.chat-divider-bottom-container {
    color: $main-purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

    p {
        flex: 0.5;
        margin: 0;
    }

    .chat-divider-bottom {
        text-align: center;
        flex: 1;
        border-top: 2px solid $main-purple;
    }
}

.response {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    .clicked-message {
        margin-left: auto;
        text-align: right;
        // Add any other necessary styles
    }
}

.thread-container {
    mat-toolbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        background-color: #fff !important;

        .thread-header-info {
            display: flex;
            align-items: center;

            h3 {
                margin: 0;
            }
        }

        p {
            color: $purple;
            margin: 0 0 0 5px;
            font-size: 12px;
        }
    }

    .message-thread-container {
        .own-message {
            .own-message-time {
                margin: 0 15px 0 0 !important;
            }

            &:hover {
                background-color: $main-purple;
                transition: 125ms ease-in-out;
                .message-text-own {
                    background-color: $purple;
                    color: #fff;
                }
            }
        }

        .clicked-message {
            display: flex;
            align-items: center;
            flex-direction: column; // Added to make it clearer
            padding: 20px;

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            &:hover {
                background-color: $main-purple;
                transition: 125ms ease-in-out;
                .message-text {
                    background-color: white !important;
                }
            }
        }
    }
    
    .message-info-thread {
        display: flex;
        flex-direction: column;
        align-items: center;

        .clicked-message-content {
            .message-text {
                background-color: $main-purple;
                color: black;
                padding: 10px;
                margin: 10px;
                border-radius: 15px 0px 15px 15px !important;
            }

            .message-text-own {
                background-color: $purple;
                color: #fff;
                padding: 10px;
                margin: 10px;
                border-radius: 15px 0px 15px 15px !important;
            }
        }
    }
}
