<div *ngIf="sharedService.threadContentReady" class="thread-container">
  <!-- Thread Header -->
  <mat-toolbar>
    <div class="thread-header-info">
      <h3>Thread</h3>
      <p>{{ sharedService.filteredChannels[0].name }}</p>
    </div>
    <i class="material-icons close-button" (click)="closeThread()">close</i>
  </mat-toolbar>

  <div #chatWrapper (scroll)="onScroll($event)" class="message-thread-container">
    <!-- Chat Divider Top -->
    <div class="chat-divider-top"></div>

    <div  class="clicked-message">
      <img *ngIf="sharedService.threadContentReady" src="{{ sharedService.currentThreadContent[0].profileImg }}" alt="">
      <div class="message-info-thread">
        <!-- Message Content Container -->
        <div class="message-content-container">
          <!-- Info Row for Own Message -->
          <div class="info-row-thread">
            <p *ngIf="sharedService.threadContentReady" class="bold">{{ sharedService.currentThreadContent[0].from }}</p>
            <span *ngIf="sharedService.threadContentReady" class="message-time">{{ sharedService.currentThreadContent[0].calculatedTime }}</span>
          </div>
          <!-- Clicked Message Content -->
          <div class="clicked-message-content">
            <p *ngIf="sharedService.threadContentReady" class="message-text">
              {{ sharedService.currentThreadContent[0].text}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Divider Bottom Container -->
    <div class="chat-divider-bottom-container">
      <p> {{ (sharedService.currentThreadContent.length)}} Antworten</p>
      <div class="chat-divider-bottom"></div>
    </div>

    <!-- Text Response Container -->
    <div *ngFor="let message of sharedService.currentThreadContent; let first = first">
      <div *ngIf="!first" class="clicked-message">
        <div class="info-row-react">
          <i class="material-icons cursor" (click)="toggleEmojiForMessage()">add_reaction</i>
      </div>
        <img src="{{message.profileImg}}" alt="">
        <div class="message-info-thread">
          <!-- Message Response Container -->
          <div class="message-content-container">
            <div class="info-row-thread">
              <p class="bold">{{message.from}}</p>

              <emoji-mart *ngIf="emojiMartVisible && selectedMessageId === message.id" (emojiClick)="addReactionToMessage()"
                        [style]="{ position: 'absolute', bottom: '-110px', right : '0', 'border-radius': '15px', 'z-index': '11'}">
              </emoji-mart>

              <span class="message-time">{{message.calculatedTime}}</span>
            </div>
            <div class="clicked-message-content">
              <p class="message-text">
                {{message.text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="clicked-message">
      <img src="./assets/characters/character_2.png" alt="">
      <div class="message-info-thread">
         <-- Message Response Container >
        <div class="message-content-container">
          <div class="info-row-thread">
            <p class="bold">Noah Braun</p>
            <span class="message-time">14:25 Uhr</span>
          </div>
          <div class="clicked-message-content">
            <p class="message-text">
              Placeholder für Antwort von anderen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clicked-message">
      <img src="./assets/characters/character_2.png" alt="">
      <div class="message-info-thread">
        < Message Response Container >
        <div class="message-content-container">
          <div class="info-row-thread">
            <p class="bold">Noah Braun</p>
            <span class="message-time">14:25 Uhr</span>
          </div>
          <div class="clicked-message-content">
            <p class="message-text">
              Placeholder für Antwort von anderen.
            </p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Input Container (Same structure as in the main) -->

    <div *ngIf="showScrollButton" class="scroll-to-bottom-container">
      <button *ngIf="showScrollButton" #scrollButton (click)="scrollToBottom()">Scroll to bottom</button>
    </div> 

    <section class="input-container">
      <textarea [(ngModel)]="copiedText" placeholder="Nachricht an {{ sharedService.currentThreadContent[0].from}}"></textarea>
      <div class="input-send">
        <div class="input-send-left">
          <i class="material-icons add-data" (click)="toggleAddDataPopup()">add</i>
          <i class="material-icons toggle-emoji" (click)="toggleEmojiPopup()">insert_emoticon</i>
          <i class="material-icons toggle-person" (click)="togglePersonPopup()">alternate_email</i>
        </div>

        <div class="input-popups">
          <div *ngIf="showAddDataPopup" class="add-data-popup">Datei anhängen</div>
          <div *ngIf="showEmojiPopup" class="emoji-mart">
            <emoji-mart (emojiClick)="addEmoji($event)"
              [style]="{ position: 'absolute', bottom: '80px', left : '-50px', 'border-radius': '15px', 'z-index': '2'}">
            </emoji-mart>
          </div>
          <div *ngIf="showPersonPopup" class="person-popup">

            <div class="member-popup scrollbar">


              <div class="chat-member-row">
                <img src="./assets/characters/character_1.png" alt="">
                <!-- <p (click)="copyText(copyText('@' + name))">{{ '@' + name }} </p> -->
              </div>
              <div class="chat-member-row">
                <img src="./assets/characters/character_1.png" alt="">
                <!-- <p (click)="copyText(copyText('@' + name))">{{ '@' + name }} </p> -->
              </div>
              <div class="chat-member-row">
                <img src="./assets/characters/character_1.png" alt="">
                <!-- <p (click)="copyText(copyText('@' + name))">{{ '@' + name }} </p> -->
              </div>
              <div class="chat-member-row">
                <img src="./assets/characters/character_1.png" alt="">
                <!-- <p (click)="copyText(copyText('@' + name))">{{ '@' + name }} </p> -->
              </div>
              <div class="chat-member-row">
                <img src="./assets/characters/character_1.png" alt="">
                <p #personParagraph>Person 2</p>
              </div>

            </div>

          </div>
        </div>

        <div class="input-send-right">
          <button [class.non-empty]="copiedText !== ''" (click)="sendThreadMessage()" [disabled]="isSendingMessage">
              <i class="material-icons">send</i>
          </button>
      </div>
      </div>
    </section>

  </div>
</div>