$main-purple: #eceefe;

.thread-container {
    padding: 20px;

    .thread-header {

        display: flex;
        justify-content: space-around;
        align-items: center;

        .thread-header-info {
            display: flex;
            align-items: center;
        }

        
        p {
            color: purple;
        }
    }

    .message-thread-container {

        .clicked-message {

            display: flex;
            align-items: center;

            .info-row-thread {

                display: flex;
                padding: 0 10px;

                p {
                    font-size: 16px;
                    font-weight:bolder;  
                    margin: 0;
                }

                span {
                    color: lightgray;
                    font-size: 10px;
                    margin: 0 0 0 15px;
                }

            }

            

            img {
                height: 50px;
                width: 50px;
                background-size: cover;
                border-radius: 50%;
            }
        }
        
        .message-info-thread {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
    
}
