$main-purple: #eceefe;
$purple: #535af1;

.last-item {
  margin-bottom: 140px !important;
}

.non-empty {
  opacity: 1 !important;
}

.end {
  justify-content: flex-end;
}

.chat-divider-top {
  text-align: center;
  border-top: 1px solid $main-purple;
}

.chat-divider-bottom-container {
  color: $main-purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  p {
    flex: .5;
    margin: 0;
  }

  .chat-divider-bottom {
    text-align: center;
    flex: 0.5;
    border-top: 2px solid $main-purple;
  }
}

.response {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;

  .clicked-message {
    margin-left: auto;
    text-align: right;
  }
}

.thread-container {
  position: relative;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 30px;

  .scroll-to-bottom-container {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    button {
      background-color: #007acc;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        background-color: #005eaa;
      }
    }
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff !important;
    box-shadow: 0 6px 6px -2px #00000014;
    border-radius: 30px 30px 0 0;

    .thread-header-info {
      display: flex;
      align-items: center;

      h3 {
        margin: 0;
      }
    }

    p {
      color: $purple;
      margin: 0 0 0 15px;
      font-size: 12px;
    }
  }

  .message-thread-container {
    max-height: calc(100% - 100px);
    overflow-y: auto;
    scroll-behavior: smooth;

    .own-message {
      display: flex;
      padding: 20px;
      flex-direction: row-reverse;
      justify-content: right;
      position: relative;

      img {
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        background-color: $main-purple;
        transition: 125ms ease-in-out;
  
        .message-text {
          background-color: white !important;
        }
  
        .message-text-own {
          background-color: $purple !important;
        }
  
        .message-time {
          color: grey !important;
        }
  
        .info-row-react {
          opacity: 1 !important;
          right: 50px;
        }
  
      }
      
    }

    .other-message {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      margin: 20px 0;
      position: relative;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      &:hover {
        background-color: $main-purple;
        transition: 125ms ease-in-out;
  
        .message-text {
          background-color: white !important;
        }
  
        .message-text-own {
          background-color: $purple !important;
        }
  
        .message-time {
          color: grey !important;
        }
  
        .info-row-react {
          opacity: 1 !important;
        }
  
      }
      
    }

    .info-row-react {
      transition: 225ms ease-in-out;
      opacity: 0;
      position: absolute;
      right: 30px;
      top: -15px;
      border-radius: 30px 30px 0 30px;
      border: 1px solid #adb0d9;
      padding: 5px 15px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;
        height: 50px;
      }

      .own-message-time {
        margin: 0 15px 0 0 !important;
      }

      &:hover {
        background-color: $main-purple;
        transition: 125ms ease-in-out;
      }
    }

    .clicked-message {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      margin: 20px 0;
      position: relative;

      &:hover {
        .message-text {
          background-color: #fff !important;
        }

        .info-row-react {
          opacity: 1;
          right: 50px;
        }
      }

      .info-row-react {
        transition: 225ms ease-in-out;
        opacity: 0;
        position: absolute;
        right: 30px;
        top: -15px;
        border-radius: 30px 30px 0 30px;
        border: 1px solid #adb0d9;
        padding: 5px 15px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      &:hover {
        background-color: $main-purple;
        transition: 125ms ease-in-out;
      }
    }
  }

  .message-info-thread {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .uploaded-content {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      gap: 15px;
      border: 1px solid $purple;
      border-radius: 15px;
    }

    .info-row-thread {
      display: flex;

      span {
        color: lightgray;
        font-size: 12px;
      }

      p {
        margin: 0 15px 0 0;
        font-weight: bolder;
      }
    }

    .clicked-message-content {
      font-size: 18px;

      .toggle-emoji {
        display: none;
        transition: 125ms ease-in-out;
        border-radius: 50%;
        padding: 5px !important;
        background-color: #fff;
        color: grey;
        position: relative;
    
        &:hover {
          color: $purple;
          background-color: $main-purple !important;
        }
    
      }

      .message-text {
        background-color: $main-purple;
        color: black;
        padding: 10px;
        margin: 10px;
        border-radius: 15px 0px 15px 15px !important;
        font-size: 18px;
      }

      .message-text-own {
        background-color: $purple;
        color: #fff;
        padding: 10px;
        margin: 10px;
        border-radius: 15px 0px 15px 15px !important;
      }
    }
  }

  .uploaded-content-container {
    position: relative;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 15px;
    padding: 20px;
    border: 1px solid #535af1;
    border-radius: 15px;
    background-color: #fff;
  
    .material-icons {
      height: 24px;
      width: 24px;
    }
  
  }

  .input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // height: 100px;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid $main-purple;
    border-radius: 10px;
    background: #fff;

    &:hover {
    border: 1px solid #535af1;
    }


    .material-icons {
      margin: 0 0 0 15px;
      padding: 5px;
      transition: 125ms ease-in-out;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        padding: 5px;
        color: $purple;
        background-color: $main-purple;
      }
    }

    textarea {
      display: flex;
      justify-content: center;
      background-color: #fff;
      height: 70px;
      resize: none;
      border: none;
      outline: none;

      &::placeholder {
        opacity: 0.6;
      }
    }
  }

      .input-send-left {
        .add-data {
          margin-left: 0;
        }
      }

      .input-send-right {
        button {
          border: none;
          background: transparent;
          opacity: 0.3;
        }

        .material-icons {
          color: $purple;

          &:hover {
            opacity: 0.7;
            background-color: #fff !important;
          }
        }
      }
    

  .first {
    display: none;
  }

}

@media (max-width: 1200px) {
  .thread-container {
    border-radius: 0 !important;
    height: calc(100vh - 110px);
    margin: 0;
    width: 100vw;
    overflow-x: hidden !important;

    .emoji-wrapper {

      .toggle-emoji {
        display: flex !important;
      }
    }
    

    .chat-divider-bottom {
      flex: 2;
    }
  }
}

@media(max-width:500px) {
  .chat-divider-bottom-container {
    
    p {
      flex: 1;
      margin: 0;
    }
  }
}