//---------------------------------- HEADER ----------------------- //
.header {
    margin: 32px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
}

// --------------------- AVATAR CONTAINER ------------------- // 

.avatar-container {
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

//--------------- CHOOSE AVATAR HEADER CONTAINER ---------------- // 

.choose-avatar-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    position: relative;

    .back-icon{
        position: absolute;
        left: 0;

        &:hover{
            cursor: pointer;
        }
    }

    .choose-avatar-headline {
        color: #444DF2;
        font-size: 40px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
}

// ---------------- CHOOSE AVATAR ICON CONTAINER ------------------ // 

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#avatar-image-container {
    border-radius: 100%;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
    width: 100%;

    img {
        border-radius: 100%;
        height: 10em;
        width: 10em;
        object-fit: cover;
    }
}

.registered-user-name {
    font-size: 32px;
    line-height: 43.65px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}


// ----------------- CHOOSE IMAGE SPAN -------------------- //

.choose-from-list-span {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.28px;
    text-align: start;
    width: 100%;
}

.character-images-container {
    display: flex;
    width: 100%;
    gap: 4px;


    .image {
        width: 75%;
        border-radius: 100%;
        border: 4px solid transparent;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
    }

}


// ----------------- CHOOSE OWN IMAGE SPAN -------------------- //
.choose-avatar-title {
    width: 100%;
}

.choose-own-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.choose-own-image-span {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.28px;
    text-align: start;
}

.choose-own-image-button {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 25px;
    color: #444DF2;
    background-color: white;
    border: 1px solid #797EF3;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        background-color: #444DF2;
        color: white;
        border: 1px solid #444DF2;
    }
}


//------------------ NEXT BUTTON --------------------- //

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.next-button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}

//-------------RESPONSIVE-------------//
@media (max-width: 600px) {
    .header {
        justify-content: center;
    }
    .choose-avatar-headline {
        font-size: 24px !important;
    }
    .choose-from-list-span {
        font-size: 16px !important;
    }
    .choose-own-image-span {
        font-size: 16px !important;
    }
    .choose-own-image-button {
        font-size: 16px !important;
    }
    .next-button {
        font-size: 16px !important;
    }
    .impressum {
        font-size: 16px !important;
    }
    .datenschutz {
        font-size: 16px !important;
    }
}

@media (max-width: 450px) {
    .choose-own-image-container {
        flex-direction: column;
    }

    .choose-avatar-title {
        text-align: center;
    }

}