<div class="header">
    <div class="image-container">
        <img src="assets/icons/logo_with_text.png">
    </div>
</div>


<div class="container">


    <div class="choose-avatar-container">

    </div>








    <div class="impressum-datenschutz">
        <div class="impressum-container">
            <a class="impressum" href="">Impressum</a>
        </div>
    
        <div class="datenschutz-container">
            <a class="datenschutz" href="">Datenschutz</a>
        </div>
    </div>
</div>

