<div class="profil-dialog">
    <div class="profil-header">
        <h2>Profil</h2>
        <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="profil-img">
        <img src="/assets/characters/character_2.png">
    </div>
    <div class="profil-name">
        <h2>Philipp Mössl</h2>
        <a>Bearbeiten</a>
    </div>
    <div class="profile-status">
        <span>&#9679; Aktiv</span>
    </div>
    <div class="profil-mail">
        <mat-icon>mail_outline</mat-icon>
        <div class="mail-container">
            <span><b>E-Mail-Adresse</b></span>
            <a href="mailto:philippmoessl@outlook.de">philippmoessl@outlook.de</a>
        </div>
    </div>
</div>
