.profil-dialog {
    padding: 45px 40px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.profil-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h2 {
        margin: 0;
    }
}

.profil-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
}

.profil-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {
        margin: 0;
    }

    a{
        color: #535AF1;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        
        &:hover {
            scale: 1.1;
        }
    }
}

.profile-status {
    color: green;
    margin-bottom: 40px;
}

.profil-mail {
    display: flex;
    gap: 20px;

    .mail-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a{
            color: #1381FF;
            cursor: pointer;
            text-decoration: none !important;
        }
    }
}

@media(max-width:800px) {
    .profil-dialog {
        height: 100vh;
    }
}