<div class="profil-dialog">
    <div class="profil-header">
        <h2>Profil</h2>
        <button mat-icon-button (click)="dialogRef.close()" class="icon-btn-hover"><mat-icon>close</mat-icon></button>
    </div>
    <div class="profil-img">
        <img src="{{userDataService.currentUser['imgNr']}}">
    </div>
    <div class="profil-name">
        <h2>{{userDataService.currentUser['name']}}</h2>
        <a (click)="openEditProfile()">Bearbeiten</a>
    </div>
    <div class="profile-status">
        <span>&#9679; Aktiv</span>
    </div>
    <div class="profil-mail">
        <mat-icon>mail_outline</mat-icon>
        <div class="mail-container">
            <span><b>E-Mail-Adresse</b></span>
            <a href="mailto:{{userDataService.currentUser['mail']}}">{{userDataService.currentUser['mail']}}</a>
        </div>
    </div>
</div>
