
<div class="chat-container br-30">

    <mat-toolbar *ngIf="sharedService.templateIsReady">
        <div class="direct-msg-user" *ngIf="sharedService.showDirectMessageView">
            <img src="{{sharedService.oppositeUser.avatar}}">
            <p>{{ sharedService.oppositeUser.name }}</p>
        </div>
    </mat-toolbar>


    <div class="chat-wrapper">
        <div  *ngFor="let message of sharedService.directMsgsFromDB" class="message-container cursor">

            <img src="{{message.profileImg}}" alt="">
            <div class="message-info-container">

                <div class="info-row">
                    <div class="info-row-name">
                        <h4>{{message.from}}</h4> <span class="message-time">{{message.calculatedTime}}</span>
                    </div>

                    <emoji-mart set="apple" #emojiMartElement *ngIf="emojiMartVisible && selectedMessageId === message.id" (emojiClick)="addReactionToMessage($event ,message.id)"
                        [style]="{ position: 'absolute', bottom: '-110px', right : '0', 'border-radius': '15px', 'z-index': '11'}">
                    </emoji-mart>

                    <div class="info-row-react">
                        <ngx-emoji set="apple" class="material-icons" emoji="white_check_mark" (click)="addCheckMarkAsReaction({ native: '✅' }, message.id)"></ngx-emoji>
                        <ngx-emoji set="apple" class="material-icons" emoji="raised_hands" (click)="addRaisedHandsAsReaction({  native: '🙌' }, message.id)"></ngx-emoji>
                        <i class="material-icons" (click)="openEmojiForMessage(message.id)">add_reaction</i>
                        
                    </div>
                </div>

                <p class="message-text">{{message.text}}</p>

                <div class="emoji-react-container">
                    <div class="emoji-wrapper" *ngFor="let emoji of emojiMap[message.id]">
                        <div class="emoji">
                            {{ emoji }} {{ emojiCountMap[emoji]}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


