<div class="chat-container br-30" *ngIf="sharedService.directChatReady">

    <mat-toolbar *ngIf="sharedService.templateIsReady && !sharedService.showNewMessageInput">
        <div class="direct-msg-user" *ngIf="sharedService.showDirectMessageView">
            <img src="{{sharedService.oppositeUser.avatar}}">
            <p>{{ sharedService.oppositeUser.name }}</p>
        </div>
    </mat-toolbar>
    <mat-toolbar class="chat-header" *ngIf="sharedService.showNewMessageInput">
        <div class="chat-header-search">
            <h2>Neue Nachricht</h2>
            <input type="text" placeholder="An: #channel, oder @jemand" matInput [formControl]="sharedService.myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="sharedService.displayFn">
                <mat-option *ngFor="let option of sharedService.filteredOptions | async" [value]="option">
                    {{option.name}} 
                    {{option.channel}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </mat-toolbar>

    <div class="chat-wrapper">
        <div *ngFor="let message of sharedService.directMsgsFromDB" class="message-container cursor"
            [ngClass]="{'own-message': message.from === userDataService.currentUser['name']}">

            <img src="{{message.profileImg}}" alt="">
            <div class="message-info-container">

                <div class="info-row">
                    <div class="info-row-name">
                        <h4>{{message.from}}</h4> <span class="message-time">{{message.calculatedTime}}</span>
                    </div>

                    <emoji-mart set="apple" #emojiMartElement
                        *ngIf="emojiMartVisible && selectedMessageId === message.id"
                        (emojiClick)="addReactionToMessage($event ,message.id)"
                        [style]="{ position: 'absolute', bottom: '-110px', right : '0', 'border-radius': '15px', 'z-index': '11'}">
                    </emoji-mart>

                    <div class="info-row-react">
                        <ngx-emoji set="apple" class="material-icons" emoji="white_check_mark"
                            (click)="addCheckMarkAsReaction({ native: '✅' }, message.id)"></ngx-emoji>
                        <ngx-emoji set="apple" class="material-icons" emoji="raised_hands"
                            (click)="addRaisedHandsAsReaction({  native: '🙌' }, message.id)"></ngx-emoji>
                        <i class="material-icons" (click)="openEmojiForMessage(message.id)">add_reaction</i>

                    </div>
                </div>

                <p class="message-text" [ngClass]="{
                    'message-text-own': message.from === userDataService.currentUser['name'],
                    'own-message': message.from === userDataService.currentUser['name']
                  }">{{message.text}}</p>

                <div class="emoji-wrapper"
                    [ngClass]="{'justify-start': message.from === userDataService.currentUser['name']}">

                    <i class="material-icons toggle-emoji"
                        [ngClass]="{'own-message': message.from === userDataService.currentUser['name']}"
                        (click)="openEmojiForMessage(message.id)">add_reaction</i>

                    <div class="emoji-react-container">
                        <div class="emoji" *ngFor="let reaction of message.reactions">
                            {{ reaction }}
                        </div>
                    </div>
                </div>

                <div class="last-response-row">
                    <span class="message-time">Letzte Antwort {{message.calculatedTime}} </span>
                </div>

            </div>
        </div>
    </div>

    <section *ngIf="sharedService.directMsgsFromDB.length == 0">
        <div class="direct-msg-info">
            <div class="direct-msg-info-header">
                <img src="{{sharedService.oppositeUser.avatar}}">
                <h2>{{sharedService.oppositeUser.name}}</h2>
            </div>
            <p *ngIf="sharedService.oppositeUser.name != userDataService.currentUser['name']">Die Unterhaltung findet
                nur zwischen <span class="light-blue">@{{ sharedService.oppositeUser.name }}</span> und dir statt.</p>
            <p *ngIf="sharedService.oppositeUser.name == userDataService.currentUser['name']"><b>Dieser Raum ist nur für
                    dich da.</b>Mache dir Notizen,liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf.
                Du kannst hier auch gerne Dinge mit dir selbst besprechen.</p>
        </div>
    </section>

    <section class="input-container">

        <textarea (keydown)="onKeydown($event)" *ngIf="sharedService.templateIsReady" [(ngModel)]="copiedTextDirectMsg"
            placeholder="Nachricht an {{ sharedService.oppositeUser.name }}">
        </textarea>
        <div class="input-send">
            <div class="input-send-left">
                <i class="material-icons add-data" (click)="toggleAddDataPopup()">add</i>
                <i class="material-icons toggle-emoji" (click)="toggleEmojiPopup()">insert_emoticon</i>
                <!-- <i class="material-icons toggle-person" (click)="togglePersonPopup()">alternate_email</i> -->
            </div>

            <div class="input-popups">
                <div *ngIf="showAddDataPopup" class="add-data-popup">Datei anhängen</div>
                <div *ngIf="showEmojiPopup" class="emoji-mart">
                    <emoji-mart (emojiClick)="addEmoji($event)"
                        [style]="{ position: 'absolute', bottom: '25px', left : '75px', 'border-radius': '15px', 'z-index': '11'}">
                    </emoji-mart>
                </div>
            </div>

            <div class="input-send-right">
                <button [class.non-empty]="copiedTextDirectMsg !== ''" (click)="sendDirectMsg()"
                    [disabled]="isSendingMessage">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </section>


</div>