.chat-section {
    display: flex;
    // overflow: hidden;
    gap: 30px;
}

app-main-chat {
    width: 45vw;
}

app-main-thread {
    width: 35vw;
    background-color: #fff;
    margin: 0 30px 0 0;
}

app-sidebar {
     width: 340px;
}

@media (max-width:1000px) {
    .chat-section {
        gap: 0;
    }
}