header {
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;

    input {
        border-radius: 42px;
        border: none;
        width: 700px;
        padding: 18px 45px;
        font-size: 24px;
        background-image: url('/assets/icons/search_icon.png');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 95%;
        border: 1px solid transparent;
        transition: 0.2s;
        box-sizing: border-box;
        outline: none;

        &:hover {
            cursor: pointer;
            border: 1px solid grey;
        }

        &:focus {
            outline: 1px solid grey;
        }
    }
}

.user-info-container {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    h2 {
        margin: 0;
        font-weight: 700;
    }

    img {
        height: 72px;
        width: 72px;
        object-fit: contain;
        border-radius: 100%;
    }

    .point {
        position: absolute;
        font-size: 30px;
        right: 55px;
        bottom: 0;
        color: green;
    }

    &:hover {
        cursor: pointer;
        color: #535AF1;
    }
}