//---------------------------------- HEADER ----------------------- //

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px;

    .register-container {
        display: flex;
        flex-direction: column;

        .question {
            font-weight: 400;
            font-size: 18px;
        }

        .register-link {
            color: #797EF3;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            transition: 0.2s;

            &:hover {
                color: #444DF2;
                cursor: pointer;
            }
        }
    }
}



/*/----------------- LOGIN CONTAINER -------------/*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.login-container {
    background-color: white;
    border-radius: 30px;
    padding: 32px;
    box-sizing: border-box;

    max-width: 500px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); //

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
}


/*/----------- LOGIN HEADER -----------------/*/

.login-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 43px;

    .login-headline {
        color: #444DF2;
        font-size: 40px;
        font-weight: 700;
    }

    .recommendation {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 16px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 55px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

//----------------- FORGOT PASSWORD CONTAINER ------------- //
.forgot-password-container {
    display: flex;
    justify-content: center;


    .forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #797EF3;
        width: 201px;
        height: 32px;
        border-radius: 30px;
        transition: 0.2s;

        &:hover {
            color: #444DF2;
            cursor: pointer;
            font-weight: 500;
            background-color: #ECEEFE;
        }
    }
}


// ---------------------- OR CONTAINER -------------------- //
.or-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .other {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        padding: 5px 15px;
    }

    img {
        height: 5px;
        width: 200px;
    }
}


// ------------------- GOOGLE-LOGIN----------------------- //

.google-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    border-radius: 100px;
    background-color: #ECEEFE;
    outline: none;
    border: 1px solid transparent;
    transition: 0.2s;

    img {
        margin-right: 16px;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
        font-weight: 700;

        .google-login {
            font-weight: 700;
        }
    }
}

.google-login {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #444DF2;
}

// -------------------- BUTTONS CONTAINER ---------------- //

.button-container {
    width: 320px;
    height: 49px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .login-button {
        font-size: 18px;
        font-weight: 600;
        padding: 12px 25px;
        border-radius: 25px;
        color: white;
        background-color: #444DF2;
        outline: none;
        border: none;
        box-sizing: border-box;
        transition: 0.2s;

        &:hover {
            background-color: #797EF3;
            cursor: pointer;
        }
    }


    .guest-login-button {
        font-size: 18px;
        font-weight: 700;
        padding: 12px 25px;
        border-radius: 25px;
        color: #444DF2;
        background-color: white;
        border: 1px solid #797EF3;
        box-sizing: border-box;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background-color: #444DF2;
            color: white;
            border: 1px solid #444DF2;
        }
    }
}



// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 
.impressum-datenschutz {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}


// --------------- ERROR MESSAGE ---------------- // 

.error-message {
    color: red;
    text-align: center;
}

//------- MOBILE REGISTER CONTAINER-------//

.mobile-register-container {
    display: flex;
    flex-direction: column;
    display: none;

    .question {
        font-weight: 400;
        font-size: 18px;
    }

    .register-link {
        color: #797EF3;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        transition: 0.2s;

        &:hover {
            color: #444DF2;
            cursor: pointer;
        }
    }

}

//--------INTRO---------//
.intro-background {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-image: linear-gradient(to bottom, rgb(121, 126, 243), rgb(50, 59, 229));

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: relative;
    animation: slideToLeftUpperCorner 1s;
    animation-delay: 1.6s;
}


.logo {
    position: relative;
    animation: slideInLogo 0.5s forwards ease-out;

    .logo-image {
        vertical-align: middle;
        z-index: 1;
    }

    .project-name {
        font-size: 60px;
        font-weight: 600;
        color: white;
        position: absolute;
        top: 80px;
        left: 0px;
        animation: slideInTitle 0.5s forwards ease-out;
        animation-delay: 0.5s; // Verzögerung um die Dauer der slideInLogo-Animation
        opacity: 0;
        z-index: -1;
    }
}


// ANIMATION FOR LOGO TO SLIDE TO THE LEFT
@keyframes slideInLogo {
    from {
        left: 0px;
    }

    to {
        left: -100px;
    }
}

// ANIMATION FOR LOGO-TITLE TO SLIDE TO THE RIGHT
@keyframes slideInTitle {
    from {
        left: -200px;
    }

    to {
        left: 200px;
        opacity: 1;
    }
}

// ANIMATION FOR WHOLE LOGO TO SLIDE TO UPPER LEFT CORNER
@keyframes slideToLeftUpperCorner {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-35px, -35px);
    }
}


//-------------RESPONSIVE-------------//
@media (max-width: 600px) {
    .login-container-header {
        gap: 16px !important;
    }

    .login-container {
        padding: 24px !important;
        gap: 16px !important;
    }

    .or-container {
        img {
            width: 103px;
        }
    }

    .register-container {
        display: none !important;
    }

    .mobile-register-container {
        display: flex !important;
    }

    .header {
        justify-content: center;
    }

    .login-headline {
        font-size: 24px !important;
    }

    .recommendation {
        font-size: 16px !important;
    }

    .inputfield {
        font-size: 16px !important;
    }

    .forgot-password {
        font-size: 16px !important;
    }

    .other {
        font-size: 16px !important;
    }

    .google-login {
        font-size: 16px !important;
    }

    .button-container {
        width: 280px;
    }

    .login-button {
        font-size: 16px !important;
        padding: 12px 20px !important;
    }

    .guest-login-button {
        font-size: 16px !important;
        padding: 12px 13px !important;
    }

    .question {
        font-size: 16px !important;
    }

    .register-link {
        font-size: 16px !important;
    }

    .impressum {
        font-size: 16px !important;
    }

    .datenschutz {
        font-size: 16px !important;
    }
}



@media (max-width: 440px) {
    .login-container {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .or-container {

        img {
            width: 90px;
        }
    }

    .login-button {
        font-size: 16px !important;
    }

    .guest-login-button {
        font-size: 16px !important;
    }

    .button-container {
        width: 259px !important;
    }

}