
//---------------------------------- HEADER ----------------------- //

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;

    .register-container {
        display: flex;
        flex-direction: column;

        .question {
            font-weight: 400;
            font-size: 18px;
        }

        .register-link {
            color: #797EF3;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            transition: 0.2s;

            &:hover {
                color: #444DF2;
                cursor: pointer;
            }
        }
    }
}



/*/----------------- LOGIN CONTAINER -------------/*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    height: 769px;
    width: 606px;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;

}


/*/----------- LOGIN HEADER -----------------/*/

.login-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 133px;

    .login-headline {
        color: #444DF2;
        font-size: 46px;
        font-weight: 700;
    }

    .recommendation {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

//----------------- FORGOT PASSWORD CONTAINER ------------- //
.forgot-password-container {
    display: flex;
    justify-content: center;


    .forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: #797EF3;
        width: 201px;
        height: 32px;
        border-radius: 30px;
        transition: 0.2s;

        &:hover {
            color: #444DF2;
            cursor: pointer;
            font-weight: 500;
            background-color: #ECEEFE;
        }
    }
}


// ---------------------- OR CONTAINER -------------------- //
.or-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .other {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        padding: 5px 15px;
    }

    img {
        height: 5px;
        width: 200px;
    }
}


// ------------------- GOOGLE-LOGIN----------------------- //

.google-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 500px;
    border-radius: 100px;
    background-color: #ECEEFE;
    outline: none;
    border: 1px solid transparent;
    transition: 0.2s;

    img {
        margin-right: 16px;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
        font-weight: 700;

        .google-login {
            font-weight: 700;
        }
    }
}

.google-login {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #444DF2;
}

// -------------------- BUTTONS CONTAINER ---------------- //

.button-container {
    width: 320px;
    height: 49px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .login-button {
        font-size: 18px;
        font-weight: 600;
        padding: 12px 25px;
        border-radius: 25px;
        color: white;
        background-color: #444DF2;
        outline: none;
        border: none;
        box-sizing: border-box;
        transition: 0.2s;

        &:hover {
            background-color: #797EF3;
            cursor: pointer;
        }
    }


    .guest-login-button {
        font-size: 18px;
        font-weight: 700;
        padding: 12px 25px;
        border-radius: 25px;
        color: #444DF2;
        background-color: white;
        border: 1px solid #797EF3;
        box-sizing: border-box;
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background-color: #444DF2;
            color: white;
            border: 1px solid #444DF2;
        }
    }
}



// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 48px;

    width: 270px;
    height: 42px;
    gap: 16px;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}

// --------------- ERROR MESSAGE ---------------- // 

.error-message {
    color: red;
    text-align: center;
}

//------------ FEEDBACK ANIMATION -------------- //

.feedback-success {
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;

    span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 200px;
        margin: auto;
        width: 200px;
        z-index: 1;
        padding: 20px;
        border-radius: 50px;
        background-color: #535AF1;
    }
}

//--------------- LOGO ANIMATION INTRO -------------- // 

@keyframes logoAnimation {


    0% {
        opacity: 1;
    }


    100% {
        top: 50px;
        left: 50px;
        scale: .5;
        opacity: 0;
    }

}