<div class="header">
<div class="image-container">
    <img src="assets/icons/logo_with_text.png">
</div>

<div class="register-container">
<span class="question">Neu bei DABubble?</span>
<span class="register-link">Konto erstellen</span>
</div>
</div>



<div class="content">
<div class="login-container">

<div class="login-header">
    <span class="login-headline">Anmeldung</span>
    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
</div>

</div>
</div>