//---------------------------------- HEADER ----------------------- //
.header {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
}

// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// --------------------- CHANGE PASSWORD CONTAINER ------------------- // 

.change-password-container {
    width: 692px;
    height: 423px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    position: relative;
}

//------------------ BACK ARROW ICON ------------------- //

.back-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    position: absolute;
    top: 40px;
    left: 32px;

    transition: 0.2s;
    &:hover{
        background-color: #ECEEFE;
        border-radius: 50px;
        cursor: pointer;
    }
}

//--------------- CHANGE PASSWORD HEADER CONTAINER ---------------- // 

.change-password-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .change-password-headline {
        color: #444DF2;
        font-size: 46px;
        font-weight: 700;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    max-width: 486px;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 60px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

//------------------ CHANGE PASSWORD BUTTON --------------------- //

.button-container{
    display: flex;
    justify-content: flex-end;
    width: 506px;
}

.change-password-button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 48px;

    width: 270px;
    height: 42px;
    gap: 16px;

    .impressum{
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover{
            color: #444DF2;
        }
    }

    .datenschutz{
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover{
            color: #444DF2;
        }
    }
}