//---------------------------------- HEADER ----------------------- //
.header {
    display: flex;
    align-items: center;
    margin: 32px;
}

// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

// --------------------- CHANGE PASSWORD CONTAINER ------------------- // 

.change-password-container {
    max-width: 850px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin-left: 16px;
    margin-right: 16px;

    position: relative;
}

//------------------ BACK ARROW ICON ------------------- //

.back-icon-container{
    display: flex;
    position: absolute;
    left: 0;
}

.back-icon{
    transition: 0.2s;
    object-fit: cover;
    &:hover {
        background-color: #ECEEFE;
        border-radius: 50px;
        cursor: pointer;
    }
}

//--------------- CHANGE PASSWORD HEADER CONTAINER ---------------- // 

.change-password-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    position: relative;

    .change-password-headline {
        color: #444DF2;
        font-size: 40px;
        font-weight: 700;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 55px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

//------------------ CHANGE PASSWORD BUTTON --------------------- //

.button-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.change-password-button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

.change-password-button:disabled {
    background-color: rgb(104, 104, 104);
    cursor: not-allowed;
  }

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

    .impressum{
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover{
            color: #444DF2;
        }
    }

    .datenschutz{
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover{
            color: #444DF2;
        }
    }
}

//-------------RESPONSIVE-------------//
@media (max-width: 600px) {
    .header{
        justify-content: center;
    }

    .change-password-headline{
        font-size: 24px !important;
    }

    .change-password-container{
        padding: 24px !important;
        gap: 16px !important;
    }

    .inputfield{
        font-size: 16px !important;
    }

    .change-password-button{
        font-size: 16px !important;
    }

    .impressum{
        font-size: 16px !important;
    }

    .datenschutz{
        font-size: 16px !important;
    }
}
