
.dialog-create-channel {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;

    p{
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
    }

    span {
        color: gray;
        font-weight: 400;
    }

    input {
        width: 100%;
        border-radius: 40px;
        border: 1px solid #ADB0D9;
        padding: 18px 20px;
        gap: 20px;
        box-sizing: border-box;
        font-size: 18px;
        transition: 0.2s;
        outline: none;

        &:hover {
            cursor: pointer;
            border: 1px solid grey;
        }

        &:focus {
            outline: 1px solid grey;
        }
    }
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0;
    }
}

.create-btn {
    display: flex;
    justify-content: end;

    button {
        background-color: #444DF2;
        color: white !important;
        padding: 12px 25px;
        border-radius: 25px;
        font-size: 18px;
        height: 50px;
        transition: 0.2s;
        &:hover {
            background-color: #797EF3;
        }
    }
}
