<mat-card class="overview-card br-30">
  <mat-card-header>
    <div class="header-section">
      <div class="sidebar-icon-text">
        <img src="/assets/icons/workspace_logo.png">
        <mat-card-title>Code learning</mat-card-title>
      </div>
      <button mat-icon-button><img src="/assets/icons/edit_square.png"></button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="channels">
      <div class="channel-drop-down">
        <button mat-icon-button (click)="openDropdownChannels()">
          <mat-icon *ngIf="!channelDropdown">arrow_right</mat-icon>
          <mat-icon *ngIf="channelDropdown">arrow_drop_down</mat-icon>
        </button>
        <img src="/assets/icons/three_dots.png">
        <span>Channels</span>
      </div>
      <button mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>
  </mat-card-content>

</mat-card>