<div class="overview-card" *ngIf="!sidebarClose" [@enterAnimation]="sidebarClose">
  <!-- sidebar header -->
  <mat-card-header>
    <div class="header-section">
      <div class="sidebar-icon-text">
        <img src="/assets/icons/workspace_logo.png">
        <mat-card-title>Code learning</mat-card-title>
      </div>
      <button mat-icon-button class="icon-btn-hover" (click)="sharedService.showNewMessageHeader()"><mat-icon>edit_square</mat-icon></button>
    </div>
  </mat-card-header>

  
  <!-- TODO: Different header when smaller than 1000px and sidebar is open -->

  <!-- end sidebar header -->
  <!-- channel drop down -->
  <mat-card-content>
    <div class="dropdown-container">
      <div class="dropdown-header">
        <div class="dropdown-hover" (click)="openDropdownChannels()">
          <div class="arrow">
            <mat-icon *ngIf="!channelDropdown">arrow_right</mat-icon>
            <mat-icon *ngIf="channelDropdown">arrow_drop_down</mat-icon>
          </div>
          <div class="dropdown-name">
            <mat-icon>workspaces_outline</mat-icon>
            <span><b>Channels</b></span>
          </div>
        </div>
        <div>
          <button class="icon-btn-hover" mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
        </div>
      </div>
      <div>
        <!-- channel container for single channels -->
        <div class="list-container" *ngIf="channelDropdown" [@dropDownMenu]>
          <div *ngFor="let channel of channelsFromDataBase; let i = index" class="single-entry" (click)="openChannel(channel.name)" (click)="closeSidebarResponsive()">
            <span>#</span>
            <p >{{channel.name}}</p>
          </div>
          <div class="add-channel" (click)="openDialog()">
            <mat-icon class="no-overflow">add_circle_outline</mat-icon>
            <span>Channel hinzufügen</span>
          </div>
        </div>
        <!-- end channel container for single channels -->
      </div>
    </div>
    <!-- end channel drop down -->
    <!-- direct message drop down -->
    <div class="dropdown-container">
      <div class="dropdown-header">
        <div class="dropdown-hover" (click)="openDropdownMessages()">
          <div class="arrow">
            <mat-icon *ngIf="!messageDropdown">arrow_right</mat-icon>
            <mat-icon *ngIf="messageDropdown">arrow_drop_down</mat-icon>
          </div>
          <div class="dropdown-name">
            <mat-icon>account_circle_outline</mat-icon>
            <span><b>Direktnachrichten</b></span>
          </div>
        </div>
      </div>
      <div>
        <!-- user container for direct messages -->
        <div class="list-container direct-message" *ngIf="messageDropdown" [@dropDownMenu]>
          <div *ngFor="let user of userDataService.usersFromDatabase" class="single-entry" (click)="this.sharedService.openDirectMsg(user, userDataService.currentUser['name'])" (click)="closeSidebarResponsive()" (click)="closeThread()">
            <img src= '{{user.avatar}}' referrerpolicy="no-referrer">
            <span class="point">&#9679;</span>
            <p>{{user.name}} <span *ngIf="user.name == userDataService.currentUser['name']">(Du)</span></p>
          </div>
        </div>
        <!-- end channel container for single channels -->
      </div>
    </div>
    <!-- end direct message drop down -->
  </mat-card-content>
</div>

<div class="workspace-closing" (click)="closeSidebar()">
  <div class="workspace-animation">
    <span #workspace_text>Workspace-Menü {{workspaceText}}</span>
    <i *ngIf="!sidebarClose" class="material-icons deg-90">chevron_left</i>
    <i *ngIf="sidebarClose" class="material-icons deg-90">chevron_right</i>
  </div>
</div>
