//----------------- Card CONTAINER ------------- //
mat-card {
     padding: 32px 30px;
     font-size: 20px;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 0;
}

.overview-card {
    box-sizing: border-box;
    // max-width: 360px;
    height: calc(100vh - 160px);
    margin-left: 20px;
    position: relative;
}

.mat-mdc-card-content {
    padding: 0;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar-icon-text {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: auto;
        height: auto;
        margin-bottom: 0;
    }
}
//----------------- Dropdown CONTAINER ------------- //
.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
    gap: 25px;
}

.dropdown-hover {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        cursor: pointer;
        color: #535AF1;
    }
}

.dropdown-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    max-height: 200px;
    box-sizing: border-box;
    overflow-y: auto;
}

.direct-message {
    max-height: 350px;

    
}

.single-entry {
    font-size: 18px;
    font-weight: 700;
    max-width: 200px;
    padding: 4px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px;

    img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

    .point {
        position: absolute;
        font-size: 30px;
        left: 55px;
        bottom: 0;
        color: green;
    }

    
    
    &:hover {
        color: #535AF1;
        background-color: #ECEEFE;
        border-radius: 20px;
        cursor: pointer;
    }
}

.add-channel {
    display: flex;
    align-items: center;
    margin-left: 13px;
    gap: 15px;

    &:hover {
        cursor: pointer;
        color: #535AF1;
    }
}

//----------------- Workspace closing CONTAINER ------------- //
.workspace-closing {
    font-size: 20px;
    transform: rotate(-90deg);
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    padding: 24px 14px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    left: -140px;
    bottom: 200px;
    box-shadow:-4px 4px 7px rgba(0,0,0,0.2);
    color: black;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 350px;
    
    
    .workspace-animation {
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 250ms ease-in-out;

        &:hover {
            cursor: pointer;
            color: #535AF1;
            scale: 1.05;
        }
    }
}

/* 
*/

@media (max-width: 1000px) {
    .overview-card {
        display: none;
    }

    .workspace-closing {
        display: flex !important;
    }
}

.no-overflow {
    overflow: visible;
}

.list-container::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
   
  .list-container::-webkit-scrollbar-track {
    background-color:#e4e4e4;
    border-radius: 100px;
  }
   
  .list-container::-webkit-scrollbar-thumb {
    background-color: rgb(165, 163, 163);
    border-radius: 100px;
  }