$purple: #535af1;
$main-purple: #eceefe;

.mt-20 {
    margin-top: 20px;
}

p, h3 {
    margin: 0;
}

.popup-container {
    border-radius: 30px;
    min-width: 300px;

    .image-container {

        img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active-container {
        display: flex;
        align-items: center;

        .circle {
            height: 20px;
            width: 20px;
            background-color: green;
            border-radius: 50%;
            margin: 0 10px 0 0;
        }

    }

    .email-container {
        display: flex;
        align-items: center;

        .material-icons {
            margin: 0 10px 0 0;
        }

    }

    .message-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        background-color:$purple ;
        color: #fff;
        gap: 30px;
    }

}