$main-purple: #eceefe;
$purple: #98a3f4;

.chat-container {
    background-color: rgb(255, 255, 255) !important;
    height: calc(100vh - 160px);

    mat-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 30px !important;

        .chat-header-left {
          display: flex;
          align-items: center;
          padding: 5px;
          border-radius: 15px;
      
          p {
            margin: 0;
          }
      
          &:hover {
            background-color: $main-purple;
            padding: 5px;
            color:#98a3f4;
          }
        }
      
        .chat-header-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
      
      
          & > * {
            margin-right: 30px;
          }
      
          .chat-members-images {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 15px;
      
            .chat-teamsize {
              margin: 0 0 0 15px;
            }
      
            &:hover {
              background-color: $main-purple;
              padding: 5px;
              color:#98a3f4;
            }
      
            img {
              height: 30px;
              width: 30px;
              background-size: cover;
              border-radius: 50%;
            }
          }
          .add-new-member {
              padding: 5px;   
              border-radius: 15px;
              background-color: $main-purple;
              
            &:hover {
              padding: 5px;
              color:#98a3f4;
            }
          }
        }
      }

      /* Chat Start*/

      mat-list {
        .chat-divider-top {
          text-align: center;
          border-top: 1px solid $main-purple;
        }

        .chat-divider-bottom {
          border-bottom: 1px solid $main-purple;
          position: relative;
        }


        mat-list-item {
          width: 45vw;
          height: 180px;
          padding: 30px;
          &:hover {
            background-color: $main-purple;
            transition: 125ms ease-in-out;
            .message-text {
              background-color: white !important;
          }
            .message-time {
              color: grey !important;
            }

          }
        }


        .message-container {
          display: flex;
          position: relative;
          right: -30px;


          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 0 30px 0 0;
          }

          .message-info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin: 0 30px 0 0;
            margin: 0 30px;

            & > * {
              display: flex;
              align-items: center;
            }

            .info-row {
              margin: 0 0 10px 0;


              p {
                font-size: 14px;
                font-weight: 700;  
                margin: 0;
              }
            }

            .message-text {
              background-color: $main-purple;
              padding: 10px;
              border-radius: 0px 15px 15px 15px;
            }

            .message-text-own {
              background-color: $purple;
              color: #fff;
              padding: 10px;
              border-radius: 15px 0px 15px 15px !important;    
            }


            .last-response-row {

              p {
                font-size: 14px;
                color: #98a3f4;
                margin: 0;
              }

            }

            .message-time {
              color: lightgray;
              font-size: 12px;
              margin: 0 0 0 15px;
            }
          }
        }

      }

      .input-container {
        display: flex;
        justify-content: center;

        input {
            background-color: #fff;
            border: 1px solid $main-purple;
            border-radius: 10px;
            width: 70vw;
            height: 100px;
        }
      }
}

/* Chat End*/


/* Own Message Styling Start */

.own-message {
  display: flex;
  justify-content: end;

  &:hover {
    background-color: $main-purple;
    transition: 125ms ease-in-out;
    .message-text-own {
      background-color: $purple !important; // Change the background color to white
      color: #fff   !important;
  }
}
}

/* Own Message Styling End */

.input-container {
  flex-direction: column;
  padding: 20px;
  width: 55vw !important;
  margin: 0 auto;
}

@media (max-width:1000px) {
  .chat-container {
    width: 100vw;
    height: 100vh;

    mat-list-item {
      width: 100vw !important;
    }
  }
}

