<div class="chat-container br-30">
    <mat-toolbar *ngIf="sharedService.templateIsReady && !sharedService.showNewMessageInput">
        <div class="chat-header-left cursor" (click)="openGroupInfoPopUp()">
            <p># {{ sharedService.filteredChannels[0]['name'] }}</p> <i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="chat-header-right cursor">
            <div class="chat-members-images" (click)="openGroupMemberPopUp()">
                <ng-container *ngFor="let member of sharedService.filteredChannels[0]['members']; let i = index">
                    <ng-container *ngIf="i < 3">
                        <img src="{{member.imgNr}}" alt="" referrerpolicy="no-referrer">
                    </ng-container>
                </ng-container>
                <div *ngIf="sharedService.filteredChannels[0]['members'].length > 3" class="chat-teamsize">
                    +{{ sharedService.filteredChannels[0]['members'].length - 3 }}
                </div>
            </div>
            <i (click)="openAddMemberPopUp()" class="material-icons add-new-member cursor">person_add_alt</i>
        </div>

    </mat-toolbar>
    <mat-toolbar class="chat-header" *ngIf="sharedService.showNewMessageInput">
        <div class="chat-header-search">
            <h2>Neue Nachricht</h2>
            <input type="text" placeholder="An: #channel, oder @jemand" matInput [formControl]="sharedService.myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="sharedService.displayFn">
                <mat-option *ngFor="let option of sharedService.filteredOptions | async" [value]="option">
                    {{option.name}}
                    {{option.channel}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </mat-toolbar>



    <div class="chat-wrapper" #chatWrapper (scroll)="onScroll($event)">

        <div *ngIf="sharedService.templateIsReady" class="chat-beginning-container">
            <h2>Dies ist der Anfang vom Channel #{{ sharedService.filteredChannels[0].name }}</h2>
            <p>{{ sharedService.filteredChannels[0].description }}</p>
        </div>

        <div class="chat-divider"></div>

        <!-- MESSAGE DESIGN IF SOMEBODYS ELSE MESSAGE START -->

        <div *ngFor="let message of sharedService.channelMessagesFromDB" #messageContainer class="message-container cursor"
            [ngClass]="{'own-message': message.from === userDataService.currentUser['name']}">


            <img src="{{message.profileImg}}" alt="" referrerpolicy="no-referrer">
            <div class="message-info-container">

                <div class="info-row">
                    <div class="info-row-name">
                        <h4>{{message.from}}</h4> <span class="message-time">{{message.calculatedTime}}</span>
                    </div>

                    <emoji-mart class="emoji-mart-message" set="apple" #emojiMartElement
                    *ngIf="emojiMartVisible && selectedMessageId === message.id"
                    (emojiClick)="addReactionToMessage($event, message.id)"
                    [style]="{
                        position: 'absolute',
                        bottom: '-250px',
                        'border-radius': '15px',
                        'z-index': '11',
                        'left': message.from === userDataService.currentUser['name'] ? '100px' : 'auto',
                        'right': message.from !== userDataService.currentUser['name'] ? '100px' : 'auto'
                    }">
                </emoji-mart>

                    <div class="info-row-react" [ngClass]="{
                        'left-30px': message.from === userDataService.currentUser['name'],
                        'right-none': message.from === userDataService.currentUser['name'],
                        'reverse-info-row': message.from === userDataService.currentUser['name']
                      }">
                        <ngx-emoji set="apple" class="material-icons" emoji="white_check_mark"
                            (click)="addReaction({ native: '✅' }, message.id)"></ngx-emoji>
                        <ngx-emoji set="apple" class="material-icons" emoji="raised_hands"
                            (click)="addReaction({  native: '🙌' }, message.id)"></ngx-emoji>
                        <i class="material-icons" (click)="openEmojiForMessage(message.id)">add_reaction</i>
                        <i (click)="toggleThread(message.id)" class="material-icons">text_snippet</i>
                    </div>
                </div>

                <p class="message-text" [ngClass]="{
                    'message-text-own': message.from === userDataService.currentUser['name'],
                    'own-message': message.from === userDataService.currentUser['name']
                  }">{{ message.text }}</p>

                <div class="emoji-wrapper"
                    [ngClass]="{'justify-end': message.from === userDataService.currentUser['name']}">

                    <i class="material-icons toggle-emoji"
                        [ngClass]="{'own-message': message.from === userDataService.currentUser['name']}"
                        (click)="openEmojiForMessage(message.id)">add_reaction</i>

                    <div class="emoji-react-container">
                        <div class="emoji" *ngFor="let reaction of message.reactionsCount | keyvalue ">
                            {{ reaction.key }}
                            <div class="emoji-counter">
                                {{ reaction.value }}
                            </div>
                        </div>
                    </div>
                </div>


                <!-- TODO theoretisch erledigt -->
                <div class="last-response-row">
                    <!-- TODO 2 Antworten und Letzte Antwort 14:56 replaced with real time data -->
                    <div class="last-response-row"
                        [ngClass]="{'row-reverse': message.from === userDataService.currentUser['name']}">
                        <p *ngIf="message.numberOfThreadMsgs > 0" (click)="toggleThread(message.id)" class="cursor">
                            {{message.numberOfThreadMsgs}} Antworten</p>
                        <p *ngIf="message.numberOfThreadMsgs <= 0" (click)="toggleThread(message.id)" class="cursor">
                            Antworten ...</p>
                        <span *ngIf="message.numberOfThreadMsgs > 0" class="message-time">Letzte Antwort
                            {{message.calculatedTime}} </span>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showScrollButton" class="scroll-to-bottom-container">
            <i *ngIf="showScrollButton" #scrollButton (click)="scrollToBottom()"
                class="cursor material-icons">arrow_circle_down</i>
        </div>

        <section class="input-container">

            <textarea (keydown)="onKeydown($event)" *ngIf="sharedService.templateIsReady" [(ngModel)]="copiedText"
                placeholder="Nachricht an #{{ sharedService.filteredChannels[0].name }}">
        </textarea>
            <div class="input-send">
                <div class="input-send-left">
                    <i class="material-icons add-data" (click)="toggleAddDataPopup()">add</i>
                    <i class="material-icons toggle-emoji" (click)="toggleEmojiPopup()">insert_emoticon</i>
                    <i class="material-icons toggle-person" (click)="togglePersonPopup()">alternate_email</i>
                </div>

                <div class="input-popups">
                    <div *ngIf="showAddDataPopup" class="add-data-popup">Datei anhängen</div>
                    <div *ngIf="showEmojiPopup" class="emoji-mart">
                        <!-- Emoji popup for message -->
                        <emoji-mart class="emoji-mart-input" (emojiClick)="addEmoji($event)"
                            [style]="{ position: 'absolute', bottom: '25px', right : '50px', 'border-radius': '15px', 'z-index': '11'}">
                        </emoji-mart>
                    </div>
                    <div *ngIf="showPersonPopup" class="person-popup">

                        <div class="member-popup scroll-bar">
                            <div *ngFor="let channelMember of sharedService.filteredChannels[0].members">

                                <div class="member-row">
                                    <p class="close-button" (click)="addNameToTextArea(channelMember.name)"> @ {{
                                        channelMember.name }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-send-right">
                    <button [class.non-empty]="(copiedText !== '') && !isWhitespace(copiedText)" (click)="messageSend()"
                        [disabled]="isSendingMessage || isWhitespace(copiedText)">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </section>


    </div>
</div>