<div class="chat-container br-30">
    <mat-toolbar *ngIf="templateIsReady">
        <div class="chat-header-left cursor" (click)="openGroupInfoPopUp()">
            <p># {{ filteredChannels[0]['name'] }}</p> <i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="chat-header-right cursor">
            <div class="chat-members-images" (click)="openGroupMemberPopUp()">
                <img *ngFor="let member of filteredChannels[0]['members']"
                    src="./assets/characters/character_{{member.imgNr}}.png" alt="">
                <div class="chat-teamsize">{{ filteredChannels[0]['members'].length }}</div>
            </div>
            <i (click)="openAddMemberPopUp()" class="material-icons add-new-member cursor">person_add_alt</i>
        </div>
    </mat-toolbar>

    <div class="chat-wrapper" #chatWrapper (scroll)="onScroll($event)">


        <div *ngIf="templateIsReady" class="chat-beginning-container">
            <h2>Dies ist der Anfang vom Channel #{{ this.filteredChannels[0].name }}</h2>
            <p>{{ this.filteredChannels[0].description }}</p>
        </div>

        <!-- MESSAGE DESIGN IF SOMEBODYS ELSE MESSAGE START -->

        <div *ngFor="let message of channelMessagesFromDB" class="message-container cursor">

            <img src="{{message.profileImg}}" alt="">
            <div class="message-info-container">

                <div class="info-row">
                    <div class="info-row-name">
                        <p>{{message.from}}</p> <span class="message-time">{{message.calculatedTime}}</span>
                    </div>

                    <emoji-mart *ngIf="emojiMartVisible && selectedMessageId === message.id" (emojiClick)="addReactionToMessage()"
                        [style]="{ position: 'absolute', bottom: '-110px', right : '0', 'border-radius': '15px', 'z-index': '11'}">
                    </emoji-mart>

                    <div class="info-row-react">
                        <i class="material-icons checkmark">check_circle</i>
                        <i class="material-icons handshake">handshake</i>
                        <i class="material-icons" (click)="toggleEmojiForMessage(message.id)">add_reaction</i>
                        <i (click)="toggleThread(message.id)" class="material-icons">text_snippet</i>
                    </div>

                </div>

                <p class="message-text">{{message.text}}</p>

                <div class="emoji-react-container">
                    <div class="emoji-wrapper">



                        <!-- <i class="material-icons checkmark">check_circle</i>
                        <span>1</span> -->
                    </div>
                </div>

                <div class="last-response-row">
                    <p (click)="toggleThread(message.id)" class="cursor">2 Antworten</p> <span
                        class="message-time">Letzte
                        Antwort 14:56</span>
                </div>
            </div>
        </div>

        <!-- MESSAGE DESIGN IF SOMEBODYS ELSE MESSAGE END -->



        <!-- <div class="message-container cursor">
            <img src="./assets/characters/character_1.png" alt="">
            <div class="message-info-container">

                <div class="info-row">
                    <div class="info-row-name">
                        <p>Noah Braun</p> <span class="message-time">14:25 Uhr</span>
                    </div>

                    

                </div>

                <p class="message-text">Lorem ipsum dolor sit amet.</p>

                <div class="last-response-row">
                    <p (click)="toggleThread(message.id)" class="cursor">Toggle Thread</p> <span class="message-time">Letzte
                        Antwort 14:56</span>
                </div>
            </div>
        </div> -->

        <!-- Own Message Start -->

        <!-- OWN MESSAGE DESIGN START -->

        <!-- <div (click)="toggleThread(message.id)" *ngFor="let message of channelMessagesFromDB" class="message-container own-message">

            <div class="message-info-container">

                <div class="info-row ">
                    <p> {{ message.from }} </p> <span class="message-time"> {{ message.calculatedTime }} </span>
                </div>

                <p class="message-text-own"> {{ message.text }} </p>

                <div class="last-response-row">
                </div>
            </div>
            <img src="./assets/characters/character_2.png" alt="">
        </div> -->
        <!-- OWN MESSAGE DESIGN END -->

    </div>

    <div *ngIf="showScrollButton" class="scroll-to-bottom-container">
        <button *ngIf="showScrollButton" #scrollButton (click)="scrollToBottom()">Scroll to bottom</button>
        <!-- <i class="material-icons">keyboard_arrow_down</i> -->
    </div>

    <section class="input-container">

        <textarea *ngIf="templateIsReady" [(ngModel)]="copiedText"
            placeholder="Nachricht an #{{ this.filteredChannels[0].name }}">
        </textarea>
        <div class="input-send">
            <div class="input-send-left">
                <i class="material-icons add-data" (click)="toggleAddDataPopup()">add</i>
                <i class="material-icons toggle-emoji" (click)="toggleEmojiPopup()">insert_emoticon</i>
                <i class="material-icons toggle-person" (click)="togglePersonPopup()">alternate_email</i>
            </div>

            <div class="input-popups">
                <div *ngIf="showAddDataPopup" class="add-data-popup">Datei anhängen</div>
                <div *ngIf="showEmojiPopup" class="emoji-mart">
                    <emoji-mart (emojiClick)="addEmoji($event)"
                        [style]="{ position: 'absolute', bottom: '25px', left : '75px', 'border-radius': '15px', 'z-index': '11'}">
                    </emoji-mart>
                </div>
                <div *ngIf="showPersonPopup" class="person-popup">

                    <div class="member-popup scrollbar">
                        <div class="chat-member-row">
                            <p>{{ this.filteredChannels[0].members }}</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="input-send-right">
                <button [class.non-empty]="copiedText !== ''" (click)="messageSend()" [disabled]="isSendingMessage">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </section>



</div>