.log-out-dialog {
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;

    span {
        padding: 10px 70px;

        &:hover {
            cursor: pointer;
            color: #535AF1;
        }
    }
}
