.log-out-dialog {
    padding: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    min-width: 200px;

    .logout-container {
        padding:5px 10px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            cursor: pointer;
            color: #535AF1;
            background-color: #ECEEFE;
            border-radius: 20px;
        }

    }

    span {
        outline: none;
        padding: 5px;
        margin: 0;
    }
}