//---------------------------------- HEADER ----------------------- //
.header {
    display: flex;
    align-items: center;
    margin: 32px;
}

// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 64px;
}

// --------------------- FORGOT PASSWORD CONTAINER ------------------- // 

.forgot-password-container {
    max-width: 600px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin-left: 16px;
    margin-right: 16px;

    position: relative;
}

//------------------ BACK ARROW ICON ------------------- //

.back-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;

    transition: 0.2s;


    .back-icon{
        padding: 4px;
        transition: 0.2s;
        object-fit: cover;

        &:hover {
            background-color: #ECEEFE;
            border-radius: 50px;
            cursor: pointer;
        }
    }

}

//--------------- FORGOT PASSWORD HEADER CONTAINER ---------------- // 

.forgot-password-headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;


    .forgot-password-headline {
        color: #444DF2;
        font-size: 40px;
        font-weight: 700;
    }
}

.password-notice-container{

    .password-notice {
        font-size:18px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
    }
}


.we-send-mail-notice-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-send-mail-notice {
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;

    color:
        #686868;
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 55px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

//------------------ SEND MAIL BUTTON --------------------- //

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.send-mail-button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}

//------ BREAK----------//

.d-none{
    height: 0px;
    display: none;
}


//-----------RESPONSIVE DESIGN------------//
@media (max-width: 600px) {

    .forgot-password-container{
        padding: 24px !important;
        gap: 16px !important;
    }

    .forgot-password-headline{
        font-size: 24px !important;
        text-align: center;
    }

    .password-notice{
        font-size: 16px !important;
    }

    .inputfield{
        font-size: 16px !important;
    } 
   
    .we-send-mail-notice{
        font-size: 16px !important;
    }

    .send-mail-button{
        font-size: 16px !important;
    }

    .header{
        justify-content: center;
    }

    .impressum{
        font-size: 16px !important;
    }

    .datenschutz{
        font-size: 16px !important;
    }
}

@media (max-width: 450px) {
    .d-none{
        display: block;
    }
}