<div class="header">
    <div class="image-container">
        <img src="assets/icons/logo_with_text.png">
    </div>
</div>

<div class="content">

    <div class="forgot-password-container">
        <img class="back-icon" src="assets/icons/arrow_back.png" alt="image of arrow-left icon" routerLink="">
    
        <div class="forgot-password-headline-container">
            <span class="forgot-password-headline">Passwort zurücksetzen</span>
            <span class="password-notice">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        </div>

        <div class="inputfield-container">
            <img src="assets/icons/email-icon.png" alt="image of mail icon" class="inputfield-image">
            <input type="text" class="inputfield" placeholder="beispielname@email.com">
        </div>

        <span class="we-send-mail-notice">
            Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </span>
    </div>



    <div class="impressum-datenschutz">
        <div class="impressum-container">
            <a class="impressum" href="">Impressum</a>
        </div>

        <div class="datenschutz-container">
            <a class="datenschutz" href="">Datenschutz</a>
        </div>
    </div>
</div>