html,
body {
    // height: 100%;
    background-color: #eceefe;
    font-family: Nunito, sans-serif !important;
}

@font-face {
    font-family: Nunito;
    src: url('./assets/fonts/nunito/static/Nunito-Regular.ttf');
}



body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
   
  body::-webkit-scrollbar-track {
    background-color:#e4e4e4;
    border-radius: 100px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(165, 163, 163);
    border-radius: 100px;
  }

body {
    margin: 0;
}

.br-30 {
    border-radius: 30px !important;
}

.bold {
    font-weight: 700 !important;
}

.cursor {
    cursor: pointer !important;
}

.icon-btn-hover {
    transition: all 250ms ease-in-out;

    &:hover {
        scale: 1.1;
        color: #535AF1;
        background-color: #ECEEFE;
    }
}

.hidden {
    display: none !important;
  }
  
.full-width {
    width: 100vw !important;
}
  

.custom-logout-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 0px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.custom-channel-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.custom-normal-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}


.scroll-bar::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
   
.scroll-bar::-webkit-scrollbar-track {
    background-color:#e4e4e4;
    border-radius: 100px;
  }
   
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgb(165, 163, 163);
    border-radius: 100px;
  }