$main-purple: #eceefe;
$purple: #535af1;

html,
body {
    // height: 100%;
    background-color: #eceefe;
    font-family: Nunito, sans-serif !important;
}

@font-face {
    font-family: Nunito;
    src: url('./assets/fonts/nunito/static/Nunito-Regular.ttf');
}



body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
   
  body::-webkit-scrollbar-track {
    background-color:#e4e4e4;
    border-radius: 100px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(165, 163, 163);
    border-radius: 100px;
  }

body {
    margin: 0;
}

.br-30 {
    border-radius: 30px !important;
}

.bold {
    font-weight: 900 !important;
}

.cursor {
    cursor: pointer !important;
}

.pd-30 {
    padding: 30px !important;
}

.icon-btn-hover {
    transition: all 250ms ease-in-out;

    &:hover {
        scale: 1.1;
        color: #535AF1;
        background-color: #ECEEFE;
    }
}

.hidden {
    display: none !important;
  }
  
.full-width {
    width: 100vw !important;
}
  

.custom-logout-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 0px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.custom-channel-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}

.custom-normal-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px 30px 30px 30px !important;
        box-shadow: 0px 6px 14px 0px rgba($color: #000000, $alpha: 0.2);
    }
}


.scroll-bar::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
   
.scroll-bar::-webkit-scrollbar-track {
    background-color:#e4e4e4;
    border-radius: 100px;
  }
   
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgb(165, 163, 163);
    border-radius: 100px;
  }

/* General Styling for pop ups to reduce code*/

.popup-container {
    padding: 30px;
}


    .header-container {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
        h2 {
            font-size: 24px;
            margin: 0;
        }
    
        .close-button {
            padding: 5px;
            transition: 125ms ease-in-out;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: $main-purple;
                color: $purple;
                border-radius: 15px;
            }
        }
    
.deg-90 {
    transform: rotate(90deg);
}
