<div class="group-member-container">
    <div class="group-member-header">
        <p>Mitglieder</p> <i class="material-icons cursor" (click)="dialogRef.close()">close</i>
    </div>

    <div *ngFor="let member of currentChannel.info.members; let i = index" class="group-members" id="members">
        <img src="./assets/characters/character_{{member.imgNr}}.png" alt=""> <p>{{ member.name }} <span *ngIf="member.name == userDataService.currentUser['name']">(Du)</span></p>
    </div>
    
    <div class="add-member cursor">
        <i class="material-icons add-new-member cursor">person_add_alt</i>
        <p (click)="openAddMemberPopUp()">Mitglieder hinzufügen</p>
    </div>

</div>