<div class="group-member-container">
    <div class="group-member-header">
        <p>Mitglieder</p> <i class="material-icons cursor" (click)="dialogRef.close()">close</i>
    </div>

    <div *ngFor="let member of currentChannel.info.members; let i = index" class="group-members" id="members">
        <img src="./assets/characters/character_1.png" alt=""> <p>{{ member }} <span *ngIf="false">(Du)</span></p>
    </div>
    <!-- <div class="group-members cursor">
        <img src="./assets/characters/character_3.png" alt=""> <p>Sofia Müller</p>
    </div> -->

    <div class="add-member cursor">
        <i class="material-icons add-new-member cursor">person_add_alt</i>
        <p (click)="openAddMemberPopUp()">Mitglieder hinzufügen</p>
    </div>

</div>