<div class="edit-profil-dialog">
    <div class="edit-profil-header">
        <h2>Dein Profil bearbeiten</h2>
        <button mat-icon-button (click)="dialogRef.close()" class="icon-btn-hover"><mat-icon>close</mat-icon></button>
    </div>
    <div class="profil-img">
        <img src="/assets/characters/character_{{userDataService.currentUser['imgNr']}}.png">
    </div>
    <div class="edit-profil-field">
        <div class="edit-profil-field-header">
            <mat-icon>account_circle_outline</mat-icon>
            <span><b>Vollständiger Name</b></span>
        </div>
        <input [class.successfull-input]="nameChangeSuccessfull" min="4" placeholder="{{ userDataService.currentUser['name'] }}" [(ngModel)]="newName">
        <span class="success-text" *ngIf="nameChangeSuccessfull">Name erfolgreich geändert</span>
    </div>
    <div class="edit-profil-field">
        <div class="edit-profil-field-header">
            <mat-icon>mail_outline</mat-icon>
            <span><b>E-Mail-Adresse</b></span>
        </div>
        <input [class.successfull-input]="emailChangeSuccessfull" type="email" placeholder="{{ userDataService.currentUser['mail'] }}" [(ngModel)]="newEmail">
        <span class="success-text" *ngIf="emailChangeSuccessfull">E-Mail Adresse wurde erfolgreich geändert</span>
    </div>
    <div class="edit-profil-btns">
        <button mat-button (click)="dialogRef.close()">Abbrechen</button>
        <button mat-button (click)="saveUser()">Speichern</button>
    </div>
</div>
