//---------------------------------- HEADER ----------------------- //
.header {
    display: flex;
    align-items: center;
    margin: 32px;
}


// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

// --------------------- REGISTER CONTAINER ------------------- // 

.register-container {
    max-width: 500px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin-left: 16px;
    margin-right: 16px;

    position: relative;
}

//------------------ BACK ARROW ICON ------------------- //

.back-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
}

.back-icon{
    padding: 4px;
    transition: 0.2s;
    object-fit: cover;
    &:hover {
        background-color: #ECEEFE;
        border-radius: 50px;
        cursor: pointer;
    }
}

//--------------- REGISTER HEADER CONTAINER ---------------- // 

.register-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    position: relative;

    .register-headline {
        color: #444DF2;
        font-size: 40px;
        font-weight: 700;
    }
}

.register-notice-container {
    text-align: center;
    .register-notice{
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 55px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

// ------------------------ ACCEPT DATA RULES IN CHECKBOX ------------------ //
.accept-data-protection-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.checkbox-container {
    display: flex;
    align-items: center;

    input {
        &:hover {
            cursor: pointer;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.checkbox-sentence {
    font-size: 16px;
    color: #42526E;
    margin-left: 8px;
}

.data-protection-word {
    font-size: 16px;
    font-weight: 400;
    color: #797EF3;
}

//------------------ WEITER BUTTON --------------------- //

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.next-button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}


.next-button:disabled {
    background-color: rgb(104, 104, 104);
    cursor: not-allowed;
}

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}

// --------------- ERROR MESSAGE ---------------- // 

.error-message {
    color: red;
    font-size: 16px !important;
}

//-------------RESPONSIVE-------------//

@media (max-width: 600px) {
    .header {
        justify-content: center;
    }

    .register-container{
        gap: 16px !important;
        padding: 24px !important;
    }

    .register-headline-container{
        gap: 16px !important;
    }

    .register-headline {
        font-size: 24px !important;
    }

    .register-notice {
        font-size: 16px !important;
        line-height: unset !important;
    }

    .inputfield{
        font-size: 16px !important;
    }

    .next-button{
        font-size: 16px !important;
    }

    .register-container {
        padding: 40px !important;
        gap: 24px !important;
    }

 

    .impressum{
        font-size: 16px !important;
    }
    .datenschutz{
        font-size: 16px !important;
    }
}

@media (max-width: 440px) {
    .register-container {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}