//---------------------------------- HEADER ----------------------- //
.header {
    display: flex;
    align-items: center;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
}


// -------------------- CONTENT ------------------------ //

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// --------------------- REGISTER CONTAINER ------------------- // 

.register-container {
    max-width: 500px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    margin-left: 16px;
    margin-right: 16px;

    position: relative;
}

//------------------ BACK ARROW ICON ------------------- //

.back-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    position: absolute;
    top: 27px;
    left: 32px;

    transition: 0.2s;

    &:hover {
        background-color: #ECEEFE;
        border-radius: 50px;
        cursor: pointer;
    }
}

//--------------- REGISTER HEADER CONTAINER ---------------- // 

.register-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 43px;
    width: 100%;

    .register-headline {
        color: #444DF2;
        font-size: 46px;
        font-weight: 700;
    }

    .register-notice {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
    }
}

/*/-------------- FORMULAR INPUT FIELDS ------------/*/

.inputfield-container {
    width: 100%;
    position: relative;
}

.inputfield-image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputfield {
    font-size: 18px;
    font-weight: 500;
    padding-left: 60px;
    border: 1px solid transparent;
    transition: 0.2s;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 55px;
    background: #ECEEFE;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        border: 1px solid grey;
    }
}

// ------------------------ ACCEPT DATA RULES IN CHECKBOX ------------------ //
.accept-data-protection-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;

    input {
        &:hover {
            cursor: pointer;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.checkbox-sentence {
    font-size: 16px;
    color: #42526E;
    margin-left: 8px;
}

.data-protection-word {
    font-size: 18px;
    font-weight: 400;
    color: #797EF3;
}

//------------------ WEITER BUTTON --------------------- //

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.next-button {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    background-color: #444DF2;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;

    &:hover {
        background-color: #797EF3;
        cursor: pointer;
    }
}


.next-button:disabled {
    background-color: rgb(104, 104, 104);
    cursor: not-allowed;
}

// ------------------ IMPRESSUM UND DATENSCHUTZ --------------- // 

.impressum-datenschutz {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 48px;

    width: 270px;
    height: 42px;
    gap: 16px;

    .impressum {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }

    .datenschutz {
        font-size: 18px;
        font-weight: 400px;
        text-decoration: none;
        color: #797EF3;

        &:hover {
            color: #444DF2;
        }
    }
}

// --------------- ERROR MESSAGE ---------------- // 

.error-message {
    color: red;
}

//-------------RESPONSIVE-------------//

@media (max-width: 600px) {
    .header {
        justify-content: center;
    }

    .register-headline {
        font-size: 32px !important;
    }

    .register-notice {
        font-size: 18px !important;
    }

    .register-container {
        padding: 40px !important;
        gap: 24px !important;
    }

    .back-icon-container {
        display: none;
    }
}

@media (max-width: 440px) {
    .register-container {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}