<div class="content">

    <div class="header">
        <div class="image-container">
            <img src="assets/icons/logo_with_text.png">
        </div>
    </div>


    <div class="register-container">

        <div class="register-headline-container">
            <div class="back-icon-container">
                <img class="back-icon" src="assets/icons/arrow_back.png" alt="image of arrow-left icon" routerLink="">
            </div>

            <span class="register-headline">Konto erstellen</span>
        </div>

        <div class="register-notice-container">
            <span class="register-notice">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
                DABubble-Konto</span>
        </div>



        <div class="inputfield-container">
            <img src="assets/icons/person-icon.png" alt="image of person icon" class="inputfield-image">
            <input type="text" class="inputfield" placeholder="Name und Nachname" [(ngModel)]="name" name="name"
                [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.invalid">{{getNameErrorMessage()}}</mat-error>
        </div>

        <div class="inputfield-container">
            <img src="assets/icons/email-icon.png" alt="image of mail icon" class="inputfield-image">
            <input type="text" class="inputfield" placeholder="beispielname@email.com" [(ngModel)]="email" name="email"
                [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </div>

        <div class="inputfield-container">
            <img src="assets/icons/password-icon.png" alt="image of password icon" class="inputfield-image">
            <input type="password" class="inputfield" placeholder="Passwort" [(ngModel)]="password" name="password"
                [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </div>

        <div class="accept-data-protection-container">
            <label class="checkbox-container">
                <input type="checkbox" [formControl]="privacyAcceptanceFormControl">
                <span class="checkbox-sentence">Ich stimme der <span
                        class="data-protection-word">Datenschutzerklärung</span> zu.</span>
            </label>
            <span class="error-message" *ngIf="privacyAcceptanceFormControl.hasError('required')">
                *Bitte akzeptieren Sie die Datenschutzerklärung, um fortzufahren.
            </span>
        </div>

        <div class="button-container">
            <div class="next-button-container">
                <button class="next-button" (click)="saveDataForNextPage()"
                    [disabled]="!canSaveDataForNextPage()">Weiter</button>
            </div>
        </div>


    </div>



    <div class="impressum-datenschutz">
        <div class="impressum-container">
            <a class="impressum" href="">Impressum</a>
        </div>

        <div class="datenschutz-container">
            <a class="datenschutz" href="">Datenschutz</a>
        </div>
    </div>
</div>